@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF-Regular;
    color: #FFFFFF;
}

.html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0 auto;
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    background-image: url(@img/4.png);
    background-image: -webkit-image-set(url(@img/4.png) 1x, url(@img/4@2x.png) 2x, url(@img/4@3x.png) 3x);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

a:not(.footer-link) {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrapper {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px 148px;
}

h1 {
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: center;
    padding: 0 43px;
    margin-bottom: 29px;
}

.features {
    margin: 0 auto;
    margin-bottom: 45px;
}

.features-set {
    display: flex;
    flex-direction: column;

    a {
        display: flex;
        gap: 9px;
    }
}

.features-item {
    display: block;
    font-size: 1.0625rem;
    line-height: 1.875rem;
    font-family: SF-Text;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);
}

.subscription-set {
    margin: 0 auto;
    height: 178px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 21px;
}

.subscription-item {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 131px;
    height: 162px;
    margin: 8px 0;
    opacity: 0.5;

    .subscription-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .subscription-title {
            margin-bottom: 14px;
        }

        .subscription-terms {
            display: flex;
            flex-direction: column;
            padding-bottom: 9.62px;

            strong {
                font-size: 1.5rem;
                line-height: 0.9375rem;
                margin-bottom: -18px;
                font-family: SF-Bold;
            }
        }

        .advantages {
            margin-bottom: 4.68px;
            width: 137px;
            padding: 2px 0;
            text-align: center;
            background-color: #495795;
        }

        .description {
            margin-bottom: 13.68px;
        }
    }
}

.active-item {
    transform: scale(1.1);
    opacity: 1;
}

.monthly-item {
    background-image: url('@img/shape-1.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.annually-item {
    background-image: url('@img/shape-2.svg');
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    .discount {
        background: #DB0000;
        border-radius: 100%;
        height: 34px;
        width: 34px;
        position: absolute;
        top: -4px;
        right: -4px;
        display: flex;
        align-items: center;
        justify-content: center;

        .discount-title {
            font-family: SF-Heavy;
            font-size: 0.75rem;
            line-height: 0.875rem;
        }
    }
}

.continue {
    width: 280px;
    height: 54px;
    margin: 0 auto 16px;
    background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
    border-radius: 30px;
    padding: 19px 105px;
    font-family: SF-Bold;
    font-size: 1.0625rem;
    line-height: 1.0625rem;
    opacity: 0.5;
}

.active {
    opacity: 1;
}

.features-info {
    margin: 0 auto 16px;
}

.footer {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;

    .footer-set {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        margin-bottom: 25px;
    }

    .indicator {
        margin: 0 auto 8px;
        width: 134px;
        height: 5px;
        background: #FFFFFF;
        border-radius: 100px;
    }
}

.features-info,
.footer-link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.6875rem;
    line-height: 0.8125rem;
}

@media (max-height: 800px) {
    header {
        padding-bottom: 170px;
    }

    h1 {
        font-size: 2rem;
        line-height: 2.1rem;
        margin-bottom: 10px;
    }

    .features {
        margin-bottom: 20px;

        .feature-img {
            scale: 0.9;
        }

        .features-item {
            font-size: 1rem;
            line-height: 1.6rem;
        }
    }

    .subscription-set {
        margin: 0 auto;
        height: 140px;
    }


    .subscription-item {
        height: 140px;

        .subscription-body {
            .subscription-title {
                margin-bottom: 7px;
            }

            .subscription-terms {
                font-size: 0.9rem;
                padding-bottom: 6px;

                strong {
                    font-size: 1.3rem;
                }
            }

            .advantages {
                margin-bottom: 4px;
                width: 125px;
                font-size: 0.9375rem;
            }

            .description {
                margin-bottom: 8px;
                font-size: 0.9rem;
            }
        }
    }

    .features-info {
        margin-bottom: 10px;
    }

    .annually-item {
        .discount {
            height: 28px;
            width: 28px;
            top: 0;
            right: 7px;

            .discount-title {
                font-size: 0.6rem;
            }
        }
    }

    .continue {
        height: 48px;
        margin: 36px auto 26px;
        border-radius: 30px;
        padding: 17px 105px;
        font-size: 0.9rem;
        line-height: 0.9rem;
    }

    .footer {
        .footer-set {
            margin-bottom: 20px;
        }
    }
}


@media (max-height: 730px) {

    header {
        padding-bottom: 148px;
    }

    .features {
        margin-bottom: 10px;
    }

    .continue {
        margin: 25px auto 12px;
    }

    .footer {
        .footer-set {
            margin-bottom: 12px;
        }
    }
}